<%include ../partials/header%>

        <h3> events List </h3>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col">mainspeaker</th>
                    <th scope="col">otherSpeaker</th>

                  </tr>
                </thead>
                <tbody>
                 <%events.forEach((event)=>{%>
                    <tr>
                      <td><%=event._id%></td>
                      <td><%=event.title%></td>
                      <td><%=event.mainSpeaker.name%></td>
                      <td>
                        <ul>
                          <%event.otherSpeakers.forEach((otherSpeaker)=>{%>
                              <li><%=otherSpeaker.name%></li>
                          <%})%>
                        </ul>
                      </td>
                      <td>
                        <a href="/events/edit/<%=event._id%>" class="btn btn-primary">edit</a>
                        <a href="/events/delete/<%=event._id%>" class="btn btn-danger">delete</a>
                      </td>
         
                    </tr>
                 <%})%>
                 
                </tbody>
              </table>