<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <%= messages%>
    </div>
   
    <div class="header">
        <h1>login</h1>
    </div>

    <form  method="post" action="/login"/>

        <div class="input-group">
            <label>userName</label>
            <input type="text" name="userName" required>
        </div>
     
        <div class="input-group">
            <label>password</label>
            <input type="password" name="userPassword" required>
        </div>
        <div class="input-group">
                <label>role</label>
                <input type="number" name="role" required>
            </div>
        <div class="input-group">
          <button type="submit" name="register" class="btn">Register</button>
        </div>
        <!-- <p>
            not yet amember ? <a href="register.php">Sign up</a>
        </p> -->
       

    </form>


</body>
</html>