<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="header">
        <h1>Register</h1>
    </div>
      
        <div class="input-group">
            <label>Username</label>
            <input type="text" name="Username" id="userName" required>
        </div>

        <div class="input-group">
            <label>password</label>
            <input type="password" name="userPassword" id="pass" required>
        </div>
    

        <div class="input-group">
            <button type="submit" name="register" class="btn" onclick="ajax()">Register</button>
        </div>
        <span id="result"></span>
        <!-- <p>
            not yet amember ? <a href="register.php">Sign up</a>
        </p> -->



    <script>
        // let pass1 = document.getElementById('pass1');
        // let pass2 = document.getElementById('pass2');
        // function check(e) {
        //     if (pass1.value === pass2.value) {

        //     } else {
        //         e.preventDefault();
        //     }
        // }
        function ajax(){
            let user = document.getElementById("userName").value;
            let password = document.getElementById("pass").value;
            
            let obj = {
                "userName":user,
                "pass" :password,
            }
            // console.log(obj);

            let ajaxRequest = new XMLHttpRequest();
            ajaxRequest.open("POST","http://localhost:5000/validate");
            ajaxRequest.setRequestHeader("Content-Type","application/json");
            ajaxRequest.send(JSON.stringify(obj));
//listeeeeeeeeeeeeeeen
            console.log("enterrrrrrrrrrrrrrrrrrrrrrrr");
            
            ajaxRequest.onreadystatechange = function(){

                if(ajaxRequest.readyState === 4 && ajaxRequest.status === 200)
                {
                    console.log(ajaxRequest.responseText);
                    
                 document.getElementById("result").innerHTML=(ajaxRequest.responseText);
                    
                }
            };
            


        }



    </script>
</body>

</html>