  <head>
   </head>
<body>
    
    <br>
<div>
    <div class="form-group">
        
      <textarea class="form-control" name="" id="messages" cols="35" rows="10"></textarea>
      <br>
      <input type="text" id="messageContent">
          <button class="btn btn-primary" type="button" onclick="sendMessage()"> Send</button>
      
      <div class="collapse" id="contentId">
          
      </div>
    </div>
</div>
     <script type="text/javascript" src="client.js" ></script>

</body>

