*{
    padding: 0px;
    margin: 0;

}

body{
    font-size: 120%;
    background: #f8fbff;
}
.header{
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #5f9EA0;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
        }

label{
    display: block;
    margin: 10px;

}
form{
    margin: 20px
}
.wrapper{
    margin: 140px;
    margin-left: 400px
}
input[type='number']{
    margin-left:25px;
    width: 230px;
}
input[type='submit']
{
    width:80px;
    margin-left: 100px
}
form{
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #bbc4de;
    background: white;
    border-radius: 0px 0px 10px 10px;

}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label 
{
    display: block;
    text-align: left;
    margin: 3px
}
.input-group input{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}