<%include ../partials/header%>
<br/>
<div class="modal-dialog" >
		<div class="modal-content">
			
			<hr />
			<div class="modal-body">
				<form action="/speaker/edit/<%=speakers._id%>" method="post"   role="form"  enctype="multipart/form-data">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" name="id" value="<%=speakers._id%>"  class="form-control" placeholder="ID" disabled />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="text" name="name"  class="form-control" value="<%=speakers.name%>" placeholder="Name"  />

						</div>

                    </div>
                    <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
								</span>
								<image src="/images/<%=speakers.image%>"></image>
                                <input type="file" name="speakerImage" class="form-control" />
    
                            </div>
    
                        </div>

					<div class="form-group text-center">
						<button type="submit" class="btn btn-success btn-lg" >update</button>
						
					</div>

				</form>
			</div>
		</div>
	</div>

