<%include ../partials/header%>


<div class="container">
    <div class="alert alert-primary text-center" role="alert">
        Profile 
    </div>

    <div class="alert alert-success text-center " role="alert">
        event of main speaker
        <ul class="list-unstyled">
        <%main.forEach((elemn) => {%>
        <li>
            <%= elemn.title%>
        </li>
        <%})%>
    </ul>
    </div>


    <div class="alert alert-secondary text-center" role="alert">
        event of Other speaker
        <ul class="list-unstyled">
                <%other.forEach((elemn) => {%>
            
            <li>
                <%= elemn.title%>
            </li>
            <%})%>
        </ul>
    </div>



  
</div>


<%include ../partials/footer%>