<%include ../partials/header%>

        <h3> Speakers List </h3>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">image</th>
                  </tr>
                </thead>
                <tbody>
                  <%speakers.forEach((speaker)=>{%>
                    <tr>
                      <td><%=speaker._id%></td>
                      <td><%=speaker.name%></td>
                      <td><img src="/images/<%= speaker.image%>" alt="image" style="width:100px;height:100px"></td>

                      <td>
                        <a href="/speaker/edit/<%=speaker._id%>" class="btn btn-primary">edit</a>
                        <a href="/speaker/delete/<%=speaker._id%>" class="btn btn-danger">delete</a>

                      </td>

                    </tr>
                   
                 <% })%>
                 
                </tbody>
              </table>

<%include ../partials/footer%>
